Binaries/
Derived/
Data/
Cache/
Intermediate/
Saved/
Content/IgnoredAssets/

*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.db-wal
*.db-shm
*BuiltData

.vs/
Blender Files/
*BuiltData.uasset/
